@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 30px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eff0f3;
  border-radius: 30px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #21295c;
  border-radius: 30px;
}
.MuiDataGrid-columnHeaderTitleContainer {
  display: flex;
  justify-content: center;
}
.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-sizeBig.MuiInputLabel-outlined.MuiFormLabel-colorPrimary.Mui-required.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-sizeBig.MuiInputLabel-outlined {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  width: 88px;
}


/* .MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-sizeMedium.MuiInputLabel-outlined,
.MuiFormLabel-root.MuiFormLabel-colorPrimary.MuiFormLabel-filled {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  background-color: white; 
  width: 66px;
  text-align: center;
} */
